[MASTER]
# Python code to ignore
ignore=CVS

# Add files or directories to the blacklist
ignore-patterns=

# Python modules to load
load-plugins=

# Use multiple processes to speed up Pylint (use "0" for auto)
jobs=1

[MESSAGES CONTROL]
# Disable specific warnings
disable=C0111,  # missing-docstring
        C0103,  # invalid-name
        C0303,  # trailing-whitespace
        W0311,  # bad-indentation
        W0603,  # global-statement
        R0903,  # too-few-public-methods
        R0913,  # too-many-arguments
        R0914,  # too-many-locals
        W0621,  # redefined-outer-name

[FORMAT]
# Maximum number of characters on a single line
max-line-length=120

# Maximum number of lines in a module
max-module-lines=2000

[BASIC]
# Regular expression which should only match function or class names
function-rgx=[a-z_][a-z0-9_]{2,50}$
class-rgx=[A-Z_][a-zA-Z0-9_]+$

# Good variable names
good-names=i,j,k,ex,Run,_,df

[SIMILARITIES]
# Minimum lines number of a similarity
min-similarity-lines=4

# Ignore imports when computing similarities
ignore-imports=yes 